.preview {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    color: inherit;
    padding: 3%;
    border: thick double #32a1ce;
  }
  
  .preview img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .preview div {
    text-align: left;
  }
  
  .preview h4 {
    margin: 0;
    font-size: 1.2em;
    color: black;
  }
  
  .preview p {
    margin: 0.5em 0;
    color: #555;
  }
  